.git
.github
.vs
.vscode
.agentica
docs
artifacts
coverage
TestResults
**/bin
**/obj
**/.vs
**/*.user
**/*.suo
**/*.nupkg
**/*.snupkg
**/*.pdb
**/Properties/launchSettings.json
.env
.env.*
Agentica.Tests
Agentica.ReadMe.md
eng
